.loginBox {
    width: 100%;
    height: 100%;
    background: url("~@/assets/img/bg.jpg") center center no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    .el-card {
        width: 21rem;
        height: 21rem;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        /deep/ .el-card__body {
            //   padding: 20px;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            .headerBox {
                width: 100%;
                display: flex;
                //   justify-content: center;
                align-items: center;
                .icon-nsisx-buzzly {
                    font-size: 35px;
                    color: #07BFAD;
                }
                .hosipitalName {
                    margin-left: 10px;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            .systemBox {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 1.8rem;
                font-size: 28px;
                font-weight: 600;
            }
            .userBox {
                width: 100%;
                display: flex;
                margin-top: 22px;
                .iconBox {
                    width: 42px;
                    height: 38px;
                    background: #f5f7fa;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px 4px 4px 10px;
                    border: 1px solid #dcdfe6;
                    .icon-nsisx-mimadenglu,
                    .icon-nsisx-mima {
                        font-size: 18px;
                        color: #888;
                    }
                }
            }
        }
    }
}

/deep/ .el-input--small .el-input__inner {
    height: 40px;
    line-height: 40px;
}

/deep/ .el-input--small {
    font-size: 15px;
}

.submit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    .el-button {
        width: 70px;
        background: #07BFAD;
        border: 1px solid #07BFAD;
    }
}

/deep/ .slide-verify-slider[data-v-b2d04a40] {
    margin-top: -2px;
}