* {
    margin: 0;
    padding: 0;
}

html,
body,
#app,
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $textColor;
}

body {
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}

a {
    text-decoration: none;
}


/*webkit内核浏览器修改滚动条样式*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}


/*当前窗口未激活的情况下*/

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.1);
}


/*hover到滚动条上*/

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(0, 0, 0, 0.3);
}


/*滚动条按下*/

::-webkit-scrollbar-thumb:vertical:active {
    background-color: rgba(0, 0, 0, 0.7);
}

.container {
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.crumbs {
    margin: 10px 0;
}

.pagination {
    margin: 20px 0;
    text-align: right;
}

.plugins-tips {
    padding: 20px 10px;
    margin-bottom: 20px;
}

.el-button+.el-tooltip {
    margin-left: 10px;
}

.el-table tr:hover {
    background: #f6faff;
}

.mgb20 {
    margin-bottom: 20px;
}

.move-enter-active,
.move-leave-active {
    transition: opacity 0.5s;
}

.move-enter,
.move-leave {
    opacity: 0;
}


/*BaseForm*/

.form-box {
    width: 600px;
}

.form-box .line {
    text-align: center;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
    margin-top: -7px;
}

.el-time-spinner__wrapper .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
    padding-bottom: 0;
}


/*Upload*/

.pure-button {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: $textColor;
    border-radius: 3px;
}

.g-core-image-corp-container .info-aside {
    height: 45px;
}

.el-upload--text {
    background-color: #fff;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    box-sizing: border-box;
    width: 360px;
    height: 180px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.el-upload--text .el-icon-upload {
    font-size: 67px;
    color: #97a8be;
    margin: 40px 0 16px;
    line-height: 50px;
}

.el-upload--text {
    color: #97a8be;
    font-size: 14px;
    text-align: center;
}

.el-upload--text em {
    font-style: normal;
}


/*VueEditor*/

.ql-container {
    min-height: 400px;
}

.ql-snow .ql-tooltip {
    transform: translateX(117.5px) translateY(10px) !important;
}

.editor-btn {
    margin-top: 20px;
}


/*markdown*/

.v-note-wrapper .v-note-panel {
    min-height: 500px;
}

.plugins-tips {
    background: #eef1f6;
}

.plugins-tips a {
    color: #20a0ff;
}

.el-upload--text em {
    color: #20a0ff;
}

.pure-button {
    background: #20a0ff;
}

.el-dialog {
    border-radius: 10px;
    border: 5px solid #fff;
}
.el-dialog__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    box-sizing: border-box;
    outline: 0;
}
.el-dialog {
    margin-top: 0px !important;
    margin: 0 auto !important;
}
.el-dialog__footer {
    margin-top: -10px;
}

.el-tree>.el-tree-node {
    display: inline-block;
    min-width: 100%;
}

.el-dialog__footer {
    margin-top: -10px;
}

.circle_green {
    display: inline-block;
    padding: 2px 10px;
    background-color: #f0f9eb;
    border-color: #e1f3d8;
    color: #67c23a;
    border-radius: 10px;
}

.circle_pink {
    display: inline-block;
    padding: 2px 10px;
    background-color: #fef0f0;
    border-color: #fde2e2;
    color: #f56c6c;
    border-radius: 10px;
}
