.face-capture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tip {
    position: fixed;
    top: 48px;
    z-index: 5;
    font-size: 18px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 25px;
}

.face-capture video,
.face-capture canvas {
    position: fixed;
    top: 117.5px;
    object-fit: cover;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    transform: rotateY(180deg);
}

.face-capture .img-cover {
    position: fixed;
    top: 63px;
    width: 375px;
    height: 375px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.face-capture .contentp {
    position: fixed;
    top: 438px;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}

.face-capture .rect {
    border: 2px solid #0aeb08;
    position: fixed;
    z-index: 4;
}

.img-face {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-face .imgurl {
    position: fixed;
    top: 117.5px;
    width: 266px;
    height: 266px;
    border-radius: 133px;
}